<!--<div fxLayout="row">
  <div  #sidenav mode="push"  id="sidenav">ssssssssssss</div>
  <router-outlet></router-outlet>

</div>
<div ngStyle.gt-xs="height:20px" ngStyle.xs="height:50px"></div>
<app-footer></app-footer>
-->





<mat-sidenav-container class="container">
  <mat-sidenav  fixedInViewport="true" #sidenav [opened]="false" mode="push"  id="sidenav" >
    <mat-nav-list>
        <a mat-list-item *ngFor="let item of (sideNavItems$ | async)">
          <div class="nav-item" style="margin:15px !important">
            {{item}}
          </div>
        </a>
    </mat-nav-list>
  </mat-sidenav>
  <router-outlet></router-outlet>
  <app-footer></app-footer>
</mat-sidenav-container>
