@import "../../../../../../../styles/variables.scss";

.label{
    text-align: left;
    color:$base_color
}

.value{
    text-align: center;
    font-weight: 200;
}

mat-card{
    background-color:$light_green_with_opacity ;
}
.child_class{
    background-color:$light_green_with_opacity;
}

div p{
    word-wrap:break-word;
   }

.go-to-model-but{
    background-color: $light_green_with_opacity;
}