
  <mat-toolbar-row fxFlexFill fxLayout="row" fxLayoutAlign="start center" fxFlexFill class="header" >
            <span  fxLayout="column" fxFlex.xs="20">My App</span>
            <div fxLayout="column" fxShow.xs="false" style="width: 40px;"></div>
            <div fxLayout="row" fxFlex="80" fxShow.xs="false" fxLayoutAlign="start center">

              <div fxLayout="column"  fxShow.xs="false" >

                    <button mat-flat-button>Traitement</button>

              </div>
              <div fxLayout="column"  fxShow.xs="false">

                <button mat-flat-button>Gestion</button>

              </div>
              <div fxLayout="column" fxShow.xs="false">

                <button mat-flat-button>Administration</button>

              </div>
            </div>

          <div fxLayout-gt-xs="column" fxLayout.xs="row" fxFlex.xs="80" fxLayoutAlign="end center">
            
            <button mat-flat-button style="width:20px" id="login">Login</button>
            <button mat-flat-button fxShow.xs="true" fxShow.gt-xs="false" (click)="openMenu()"><mat-icon>menu</mat-icon></button>

        </div>
  </mat-toolbar-row>

  <mat-toolbar-row fxLayout="row" fxFlexFill class="header" fxShow.xs="true" fxShow.gt-xs="false" *ngIf="showMenu">
    <div fxLayout="column" fxFlex="100"  fxLayoutAlign="center center">

      <div fxLayout="row"  >

            <button mat-flat-button>Traitement</button>

      </div>
      <div fxLayout="row"  >

        <button mat-flat-button>Gestion</button>

      </div>
      <div fxLayout="row" >

        <button mat-flat-button>Administration</button>

      </div>
    </div>

  </mat-toolbar-row>
       
     


<h1>{{screenSize$ |async}}</h1>
