<mat-card class="filtre"  *ngIf="(metadata$ | async) as metadata" style.xs="height: 150px;" ngStyle.gt-xs="60px" fxLayout="column">
    <div FxFlex="20" *ngIf="(filters$ | async) as filters">
        <mat-chip-list #chipList aria-label="filter selection">
          <mat-chip *ngFor="let filter of filters">
            <span *ngIf="filter.gte" >
              {{filter.gte}}<
            </span>
            {{filter.field}}
            <span *ngIf="filter.value" >
              ={{filter.value}}
            </span>
            <span *ngIf="filter.lte" >
              <{{filter.lte}}
            </span>
            <button matChipRemove>
              <mat-icon (click)="removeFilter(filter)">cancel</mat-icon>
            </button>
          </mat-chip>
        </mat-chip-list>
    </div>
    <form FxFlex="80" [formGroup]="filtersForm" (ngSubmit)="confirm()"  fxLayout="column" fxLayout.gt-xs="row" fxLayout.xs="column" fxLayoutGap="10px" fxLayoutAlign="start center">  
      
      <mat-form-field  fxFlex="20">
            <mat-label>Filtre</mat-label>
            <mat-select formControlName="chooseField" (ngModelChange)="updateChosenField()">
              <div *ngFor="let fieldMetadata of metadata.fields">
                <div *ngIf="fieldMetadata.label!=='Derniere operation' && fieldMetadata.label!=='Date derniere operation' && fieldMetadata.label!=='User id'">
                  <mat-option [value]="fieldMetadata.label">{{fieldMetadata.label}}</mat-option>
                </div>
              </div>
            </mat-select>
          </mat-form-field>

        <ng-template #filters>
            <!--string with choices-->
            <mat-form-field fxFlex="20" *ngIf="chosenField.field_type==='string' && isFieldEnum()" >
                <mat-label>{{chosenField.name}}</mat-label>
                <mat-select formControlName="enumStringField">
                  <mat-option *ngFor="let value of chosenField.values" [value]="value">{{value}}</mat-option>
                </mat-select>
            </mat-form-field>

            <!--string without enum-->
            <mat-form-field  fxFlex="20" *ngIf="chosenField.field_type==='string' && !isFieldEnum()">
              <mat-label >{{chosenField.name}}</mat-label>
              <input matInput formControlName="stringField">
            </mat-form-field>

            <!--integer-->
            <mat-form-field  fxFlex="20" *ngIf="chosenField.field_type==='integer'">
              <mat-label>
                {{chosenField.name}}
                <span *ngIf="isAdvancedIntegerFilter">(min)</span>
              </mat-label>
              <input matInput formControlName="integerField">
            </mat-form-field>            

            <mat-form-field  fxFlex="20" *ngIf="chosenField.field_type==='integer' && isAdvancedIntegerFilter">
              <mat-label>{{chosenField.name}}(max)</mat-label>
              <input matInput formControlName="integerField2">
            </mat-form-field>   

            <mat-checkbox *ngIf="chosenField.field_type==='integer'" style="color:red !important"
            [checked]="isAdvancedIntegerFilter"
            (change)="updateIsAdvancedIntegerFilter()"></mat-checkbox>

              <div fxFlex="20"></div>

              <div  fxFlex="40" style="text-align: right;" *ngIf="isFieldsEmpty()">
                <button  mat-stroked-button class="confirm" [disabled]="!filtersForm.valid">Confirmer</button>
              </div>
        </ng-template>

        <div *ngIf="filtersForm.controls['chooseField'].value; then filters"></div>
    </form>

    
  </mat-card>
