
<div fxLayout="column" class='container' fxLayoutAlign="center center" >
    <div fxFlex="80">&nbsp;</div>
    <mat-card style="font-size: 100px !important;">
        <mat-card-title>Gestion</mat-card-title>
        <mat-card-subtitle></mat-card-subtitle>
        <mat-card-content>
                <br/>
                Ici vous pouvez Gerer vos entités <br/>
                Vous pouvez Ajouter , Supprimer et modifier n'importe quel entité <br/>
                Vous trouverez ci dessous le menu:
        </mat-card-content>
        <mat-card-actions fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="20px" *ngFor="let item of (sideNavItems$ | async)">
          <button mat-button (click)="goToGestion(item.path)">{{item.title}}</button>
        </mat-card-actions>
    </mat-card>
</div>

