@import "../../../../../styles/variables.scss";

.header {
  background-color: $base_color !important;
  color: white !important ;
  text-align: center !important;
  position: sticky;
  position: -webkit-sticky; /* For macOS/iOS Safari */
  top: 0; /* Sets the sticky toolbar to be on top */
  z-index: 1000; /* Ensure that your app's content doesn't overlap the toolbar */
}

button {
  background-color: $base_color !important;
  color: white !important ;
  font-size: 12px;
  margin-left: 5px !important;
  margin-right: 5px !important;
}

#login {
  background-color: #0f9015 !important;
  border-radius: 20px;
}
