
  <div class="header" fxLayout="column">
    <mat-toolbar-row fxLayoutAlign="start center" fxFlexFill >
            <div fxShow.xs="false" style="width: 10px;"></div>

             <!-- <button mat-icon-button color="warn" *ngIf="showSideNav$ | async" (click)="openSideNav()">
                <mat-icon>more_vert</mat-icon>
              </button>-->
            <div *ngIf="showSideNav$ | async" >
              <app-sidenav></app-sidenav>
            </div>
            
            <span fxFlex.xs="20">
                  My App
            </span>
            <div fxShow.xs="false" style="width: 40px;"></div>
            <div fxLayout="row" fxFlex="80" fxShow.xs="false" fxLayoutAlign="start center">
  
              <div   fxShow.xs="false" *ngIf="isLoggedIn">
  
                    <button mat-flat-button (click)="goToTraitement()">Traitement</button>
  
              </div>
              <div   fxShow.xs="false" *ngIf="isLoggedIn">
  
                <button mat-flat-button (click)="goToGestion()">Gestion</button>
  
              </div>
              <div  fxShow.xs="false" *ngIf="isLoggedIn">
  
                <button mat-flat-button (click)="goToAdministration()">Administration</button>
  
              </div>
            </div>
  
          <div fxLayout="row" fxFlex.xs="80" fxLayoutAlign="end center" >
            <div *ngIf="isLoggedIn">
              <button mat-button [matMenuTriggerFor]="belowMenu" *ngIf="user">{{user.email}}</button>
              <mat-menu mat-menu #belowMenu="matMenu" yPosition="below" style="background-color: red;">
                <button mat-menu-item class="user_nav_but" (click)="onLogout()">Se déconnecter</button>
                <button mat-menu-item class="user_nav_but" (click)="openDialog()">Changer d'Entité</button>
              </mat-menu>
            </div>
            
            <button *ngIf="!(isLoggedIn)" mat-flat-button id="login" (click)="goToLogin()">Login</button>
            
            
            <button mat-flat-button fxShow.xs="true" fxShow.gt-xs="false" (click)="openMenu()" *ngIf="isLoggedIn"><mat-icon>menu</mat-icon></button>
  
        </div>
    </mat-toolbar-row>
  
    <mat-toolbar-row fxShow.xs="true" fxShow.gt-xs="false" *ngIf="showMenu && isLoggedIn" fxLayoutAlign="center center" fxFlexFill>
        <div fxLayout="column" fxFlex="100" >
  
        <div >
            <button mat-flat-button  (click)="goToTraitement()">Traitement</button>
  
        </div>
        <div  >
  
        <button mat-flat-button (click)="goToGestion()">Gestion</button>
  
        </div>
        <div >
  
        <button mat-flat-button  (click)="goToAdministration()">Administration</button>
  
        </div>
        </div>
  
    </mat-toolbar-row>
  </div>


   



