@import "../../../../../../../styles/variables.scss";

.error {
    color: white !important;
    background-color: $error_color;
    text-align: center;
    margin-left: 10px;
    margin-right: 10px;
  }


button {
    background-color: $base_color !important;
    color: white;
    margin-left: 10px;
    margin-right: 10px;
  }
  
button:disabled {
    opacity: 0.8;
  }
  
 button:hover {
    background-color: $darker_color !important;
  }