
<div fxLayout="column" style="height: 100% !important;" >
  <app-sub-header [create]="create" [page$]="gestionPage$" [export_all]="export_all"></app-sub-header>

  <app-filters [filterApiCall]="filterApiCall" [metadata$]="metadata$"></app-filters>
  
 <div *ngIf="(dataSource$ | async) && (page$ | async) as page" fxFlex="10" >
    <mat-paginator *ngIf="page.maxPages && page.maxRowsPerPage && page.count" #paginator
    [length]="(page.count)!.toString()"
    [pageSize]="page.maxRowsPerPage.toString()"
    [hidePageSize]="true"
    (page)="goToNextPage($event)"
    aria-label="Select page">
    </mat-paginator>
  </div>
  <app-table fxFlex="70"  [dataSource$]="dataSource$" [displayedColumns]="displayedColumns" [columns]="columns"></app-table>
  
</div>