@import "../../../../../styles/variables.scss";

.header {
  background-color: $light_green;
  box-shadow: $lighter_color !important;
}

.header .title {
  color: $darker_color;
  font-size: 30px;
}

.header .export {
  text-align: right !important;
}

.create {
  background-color: $lighter_color !important;
  color: white;
}

.export_all {
  color: $darker_color;
}
